@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bootstrap/bootstrap/media";
@import "vendor/bourbon/bourbon";
@import "variables";
@import "typography";
@import "components/flex-row";
@import "components/simple-hero";
@import "components/large-fonts";
@import "components/blockquote";
@import "components/resource-block";
@import "components/in-page-nav";
@import "svg-helpers";
@import "feature-group";
@import "utility-classes";

body {
  background-color: $color-white;
}

.js-all-clickable:hover {
  cursor: pointer;
}

@media (min-width: $screen-md-min) {
  .feature-group .col-md-4 {
    max-width: 310px;
  }
}
