<%# Implementation of slp-navigation-mobile.vue %>
<div class="navigation-mobile" style="padding-top: 0.3rem;">
  <header
    class="slp-flex slp-justify-between slp-items-center slp-overflow-hidden slp-fill-current"
  >
    <a href="/">
      <img src="/images/icons/logos/slp-icon.svg" class="slp-pl-16 slp-p-8 slp-inline-block" style="height: 6.0rem; width: 6.5rem" >
    </a>
    <button
      aria-label="Toggle Navigation"
      id="slpMobileNavActive"
      class="slp-p-16 slp-outline-none slp-border-none"
    >
      <img src="/images/icons/slp-hamburger.svg" class="slp-inline-block slp-mr-8">
    </button>
  </header>
  <div class="navigation-mobile__dropdown">
    <div
      class="slp-relative slp-form-field--full-width slp-font-sans slp-box-border"
    >
      <div class="slp-form-field">
        <label for="input" class="slp-text-black slp-text-base"></label>
        <input
          type="search"
          id="input"
          name="input"
          placeholder="Search GitLab.com"
          class="slp-w-full slp-border-2 slp-border-solid slp-border-black slp-text-grayscale-gray2 slp-text-xs slp-block slp-rounded-lg slp-mt-4 slp-p-12 slp-outline-none js-search slp-border"
        />
      </div>
    </div>
    <% data.navigation.each do |item| %>
      <div class="slp-overflow-hidden" style="z-index: 1000000;">
        <button class="navigation-mobile__button" data-inbound-analytics="navheader">
          <div
            class="slp-flex slp-flex-row slp-justify-between slp-py-16 slp-items-center slp-cursor-pointer"
          >
            <p class="slp-text-base slp-mb-0 slp-text-black" data-inbound-analytics="navheadertext"><%= item.heading %></p>
            <img src="/images/icons/slp-caret-down.svg">
          </div>
        </button>
        <ul class="navigation-mobile__item">
          <% if item.links[0].subheading %>
            <% item.links.each do |link| %>
              <p
                class="slp-text-black slp-uppercase slp-tracking-wider slp-mb-0 slp-pt-4 slp-pb-16"
                style="font-size: 1rem"
              >
                <%= link.subheading %>
              </p>
              <% link.links.each do |link| %>
                <li
                  class="slp-mt-0 slp-pb-16 slp-pl-16 slp-list-none"
                >
                  <a
                    href="<%= link.url %>"
                    class="slp-text-sm slp-text-ui-secondary-dark"
                    ><%= link.name %></a
                  >
                </li>
              <% end %>
            <% end %>
          <% else %>
            <% item.links.each do |link| %>
              <li class="slp-pb-16 slp-list-none">
                <a
                  href="<%= link.url %>"
                  class="slp-text-sm slp-text-ui-secondary-dark slp-py-8"
                >
                  <%= link.name %>
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>
        <hr
          class="slp-border-t slp-border-grayscale-c3 slp-my-0 slp-border-solid"
        />
      </div>
    <% end %>
    <a
      href="https://gitlab.com/users/sign_in"
      class="slp-py-16 slp-text-base slp-text-black slp-block"
    >
      Login
    </a>
    <div
      class="slp-fixed slp-z-10 slp-bg-white slp-bottom-0 slp-left-0 slp-right-0 slp-px-16 slp-shadow-soft"
    >
      <a href="https://about.gitlab.com/pricing" class="slp-w-full slp-btn">
        Get Free Trial
      </a>
    </div>
  </div>
</div>
